// Mover icon buttons$
.editor-block-mover__control {
	display: block;
	padding: 2px;
	margin: 0 8px 0 4px;
	border: none;
	outline: none;
	background: none;
	color: $dark-gray-300;
	cursor: pointer;
	border-radius: 50%;
	width: $icon-button-size-small;

	&[aria-disabled="true"] {
		cursor: default;
		color: $light-gray-300;
		pointer-events: none;
	}

	.dashicon {
		display: block;
	}
}

// Side inserter
.editor-block-mover {
	.editor-inserter__toggle {
		padding: 2px;
	}

	.editor-inserter {
		position: absolute;
		left: -18px;
		top: 16px;
	}
}
