.editor-block-mover__control {
	display: block;
	padding: 2px;
	margin: 0 8px 0 4px;
	border: none;
	outline: none;
	background: none;
	color: $dark-gray-300;
	cursor: pointer;
	border-radius: 50%;

	&[aria-disabled="true"] {
		cursor: default;
		color: $light-gray-300;
		pointer-events: none;
	}

	.dashicon {
		display: block;
	}
}

// Side inserter
.editor-block-mover {
	// This makes the hoverable area larger
	height: 100%;

	.editor-inserter__toggle {
		padding: 2px;
	}

	.editor-inserter {
		position: absolute;
		left: -18px;
		top: 16px;

		// Hide until side menu is hovered
		opacity: 0;
		transition: opacity .1s linear;
	}

	&:hover .editor-inserter {
		opacity: 1;
	}
}
